.speech-bubble-graph {
  opacity: 0;
  transition: opacity .7s;
}

.speech-bubble-graph-maxOne {
  opacity: 1;
}

.speech-bubble-graph-maxTwo {
  opacity: .2;
}

.speech-bubble-graph:hover {
  opacity: 1;
}

.speech-bubble-graph-maxTwo:hover {
  opacity: 1;
}

.speech-bubble-graph-txt {
  fill: white;
  font-weight: bold;
}

li#header {
  font-size: 18px;
}

.summary-container {
  margin-bottom: 10vh;
  margin-top: 5vh;
  font-size: 11px;
}

.summary-container li {
  display: inline-block;
  /* margin-right: 5vh; */
}

.summary-box {
  width: 200px;
  height: 80px;
  border: .5px solid #cac2ba;
  border-radius: 10px;
  padding: 1.5vh 0 0 2.5vh;
  margin-right: 5vh;

}

.summary-box.titles {
  width: 280px;
  height: 115px;
  padding: 1.3vh 0 0 4vh;
}

.summary-box span {
  font-weight: bold;
  font-size: 13px;
}

#sub-list {
  display: inline-flex;
}

#important {
  font-size: 18px;
}

.ordered-list li {
  display: block;
}
