@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 18vh;
  font-family: 'Open Sans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar.bgColor {
  left: 0;
  margin-left: 4%;
  margin-right: 4%;
  background: #ffffff;
  border-bottom: 2px solid #1f1f1f;
  height: 12vh;
}

a.logo {
  font-family: 'Righteous', cursive;
  font-size: 28px;
  color: #232b2b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  font-family: Abril Fatface;
  padding-bottom: 5vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background: #ffffff;
  border: .5px solid #a1a8b8;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: x-small;
  font-weight: 700;
  margin-right: 6px;
  margin-top: 6px;
  padding-left: 8px;
  padding-right: 8px;
}

button#activated {
  background: #1f1f1f;
  border: .5px solid #1f1f1f;
  color: #ffffff;
}

button#deactivated {
  /* background: #f7f5f3; */
  background: #ffffff;
  color: #030303;
}

a {
  color: #ea6262;
}

a#active {
  color: #1f1f1f;
  font-weight: bold;
  background: #ffffff;
}

a#inactive {
  background: #ffffff;
}

.logo {
  font-family: 'Newsreader';
  font-weight: 700;
  font-size: 30px;
  color: #080808;
  text-decoration: none;
}

.inlineItem {
  display: inline-block;
}

.nav-button {
  margin-left: 2vh;
  margin-top: 1.5vh;
}

.headerLabel {
  font-weight: 700;
  font-size: 15px;
  color: #e9e5dd;
  padding-bottom: 3vh;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
}

.barLabel {
  font-weight: 700;
  font-size: 11px;
  color: #e9e5dd;
  font-family: 'Open Sans', sans-serif;
}

.buttonsContainer {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.headlines-container {
  overflow: auto;
  margin-left: 50%;
}

.filter-container {
  /* position: fixed; */
  width: 45%;
  /* overflow: scroll; */
  padding-top: 18vh;
  left: 3%;

}

.charts-container {
  overflow: auto;
  margin-left: 35%;
}

/* .chart-box { */
  /* padding-top: 5vh; */
  /* padding-bottom: 5vh; */
  /* padding-left: 15%; */
/* } */

.info-container {
  /* position: fixed; */
  width: 45%;
  /* overflow: scroll; */
  padding-top: 18vh;
  left: 3%;
}

.sidebar-menu a {
  /* list-style: none; */
  color: #1f1f1f;
  font-weight: bold;
  text-decoration: none;
  padding-left: 5vh;
  opacity: .5;
}

.sidebar-menu-item:hover {
  opacity: 1;
}

.sidebar-menu-item:active {
  color: "pink";
}