@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background: #ebe8e5;
  margin-top: 15vh;
  font-family: 'Open Sans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar.bgColor {
  left: 0;
  margin-left: 4%;
  margin-right: 4%;
  background: #ebe8e5;
  /* border-bottom: 2px solid #1f1f1f; */
  height: 12vh;
}

.logo {
  font-family: 'Righteous', cursive;
  font-size: 28px;
  color: #232b2b;
  text-decoration: none;
}

.background-container {
  background-image: url(../assets/smile.svg);
  background-position: 105% 80%;
  background-size: 50vh 50vh;
  /* background-origin: content-box; */
  background-repeat: no-repeat;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  font-family: Abril Fatface;
  padding-bottom: 5vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background: #ebe8e5;
  border: .5px solid #a1a8b8;
  border-radius: 5px;
  color: #1f1f1f;
  font-family: 'Open Sans', sans-serif;
  font-size: x-small;
  font-weight: 700;
  margin-right: 6px;
  margin-top: 6px;
  padding-left: 8px;
  padding-right: 8px;
}

button#activated {
  background: #1f1f1f;
  border: .5px solid #1f1f1f;
  color: #ebe8e5;
}

button#deactivated {
  /* background: #f7f5f3; */
  background: #ebe8e5;
  color: #030303;
}

a {
  color: #ea6262;
}

a#active {
  color: #1f1f1f;
  font-weight: bold;
  background: #ebe8e5;
}

a#inactive {
  background: #ebe8e5;
}

/* .logo {
  font-family: 'Newsreader';
  font-weight: 700;
  font-size: 30px;
  color: #080808;
  text-decoration: none;
} */

.inlineItem {
  display: inline-block;
}

.nav-button {
  margin-left: 2vh;
  margin-top: 1.5vh;
}

.header-label {
  font-weight: 700;
  font-size: 15px;
  /* color: #e9e5dd; */
  color: #1f1f1f;
  padding-bottom: 2vh;
  /* padding-left: 3vh; */
  font-family: 'Open Sans', sans-serif;
  /* line-height: 20px; */
}

.header-description {
  margin-bottom: 5vh;
  font-size: 12px;
  width: 30vh;;
}

.bar-label {
  font-weight: 700;
  font-size: 11px;
  opacity: .5;
  font-family: 'Open Sans', sans-serif;
}

.buttons-container {
  padding-top: 1vh;
  padding-bottom: 5vh;
}

.buttons-container.titles {
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 95%;
  overflow: scroll;
}

.headlines-container {
  /* background: green; */
  overflow: auto;
  /* margin-left: 40%; */
  padding: 2vh 15vh 0vh 0vh;
  
}

.filter-container {
  /* position: fixed; */
  /* width: 45%; */
  /* background: pink; */
  overflow: scroll;
  padding-top: 5vh;
  /* left: 1%; */
  overflow: auto;
  padding-right: 2vh;
}

.main-bg-container {
  margin-top: 3vh;
  width: 100%;
  height: 90%;
  /* padding-top: 10vh; */
  padding-left: 10vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  font-family: 'Newsreader', sans-serif;
}

.main-bg-box-container {
  /* display: inline-block; */
  /* width: 60vh; */
  margin-top: 10vh;
}

.main-bg-box {
  border: .5px solid #cac2ba;
  border-radius: 8px;
  width: 30vh;
  height: 35vh;
  /* display: flex; */
  float: left;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-right: 5vh;
  padding: 3vh;
  
}

.main-bg-box img {
  margin-bottom: 3vh;
}

.main-bg-box h6 {
  font-weight: bold;
  font-size: 2vh;
}

.main-bg-box p {
  font-size: 1.5vh;
}


.charts-container {
  overflow: auto;
  margin-left: 35%;
}

.info-container {
  width: 45%;
  padding-top: 18vh;
  left: 3%;
}

.sidebar-menu {
  padding-left: 3vh;
}

.sidebar-menu a {
  color: #1f1f1f;
  font-weight: bold;
  text-decoration: none;
  opacity: .3;
  line-height: 18px;
  /* font-family: 'Righteous', cursive; */
  font-family: 'Newsreader', sans-serif;
  /* padding-left: 2vh; */
}

.sidebar-menu li p {
  color: #1f1f1f;
  opacity: .3;
  font-size: 14px;
  padding-left: 3vh;
}

.sidebar-menu-item {
  font-size: 22px;
}

.sidebar-menu-item:hover {
  opacity: 1;
}

#side-menu-activated {
  opacity: 1;
}

#side-menu-deactivated-p {
  opacity: .5;
}

#side-menu-deactivated {
  opacity: 0;
}

.material-icons-outlined {
  color: #1f1f1f;
  opacity: .5;
  font-size: 18px;
  vertical-align: text-bottom;
  display: inline-flex;
}

#presenter .smile {
  opacity: 0;
}

#presenter:hover .smile {
  opacity: 1;
}

/* BAR GROUP */

.bar-group {
  margin-right: 10vh;
}

.bar {
  font-size: 6px;
  font-weight: bold;
}

.bar:hover .bar-text-val {
  opacity: 0;
}

.bar-text-rounded-val-label {
  opacity: 0;
  font-size: 4px;
}

.bar .bar-text-rounded-val {
  opacity: 0;
  font-size: 13px;
}

.bar:hover .bar-text-rounded-val {
  opacity: 1;
}

.bar:hover .bar-text-rounded-val-label {
  opacity: 1;
}

text.name-label {
  font-size: 8px;
}

text.mood-label {
  font-size: 6px;
  font-weight: bold;
}

text.mood-value {
  font-size: 6px;
  font-weight: bold;
}

text.mood-value-dominant {
  font-size: 6px;
  font-weight: bold;
}

text.name-label-bold {
  font-size: 11px;
  font-weight: bold;
}

text.name-label-bold-big {
  font-size: 14px;
  font-weight: bold;
}

svg.emoji-label {
  position: absolute;
}

.positive-label {
  padding-top: 30px;
  font-size: 10px;
}


/* MOOD BAR CSS */
.mood-label {
  fill: #ffffff;
  font-weight: bold;
}

.mood-button {
  width: 70px;
  right: 0;
  margin-left: -8px;
  border-style: none;
}

.badge {
  font-size: 11px;
  font-weight: bold;
}


/* HEADLINES BOX CSS */
.articleContainer {
  border-bottom: .5px solid #1f1f1f;
  padding-bottom: 1vh;
  padding-top: 3vh;
}

.headlineSource {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 2vh;
  font-size: small;
}

.headlineTime {
  color: #a1a8b8;
}

.headlineTitle {
  font-family: 'Newsreader', sans-serif;
  font-weight: 700;
  font-size: x-large;
  padding-bottom: 2vh;
}

.headlineContent {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}


/* WORLD GRAPH CSS */
.speech-bubble-graph {
  opacity: 0;
  transition: opacity .7s;
}

.speech-bubble-graph-maxOne {
  opacity: 1;
}

.speech-bubble-graph-maxTwo {
  opacity: .2;
}

.speech-bubble-graph:hover {
  opacity: 1;
}

.speech-bubble-graph-maxTwo:hover {
  opacity: 1;
}

.speech-bubble-graph-txt {
  fill: white;
  font-weight: bold;
}

li#header {
  font-size: 18px;
}

.summary-container {
  margin-bottom: 10vh;
  margin-top: 5vh;
  font-size: 11px;
}

.summary-container li {
  display: inline-block;
  /* margin-right: 5vh; */
}

.summary-box {
  width: 200px;
  height: 80px;
  border: .5px solid #cac2ba;
  border-radius: 10px;
  padding: 1.5vh 0 0 2.5vh;
  margin-right: 5vh;

}

.summary-box.titles {
  width: 280px;
  height: 115px;
  padding: 1.3vh 0 0 4vh;
}

.summary-box span {
  font-weight: bold;
  font-size: 13px;
}

#sub-list {
  display: inline-flex;
}

#important {
  font-size: 18px;
}

.ordered-list li {
  display: block;
}

