.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  /* display: inline-block; */
  /* line-height: 1; */
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#activeIcon {
  color: #080808;
}

#inactiveIcon {
  color: #d6d4d2;
}

.speechBubble {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #f8f7f7;
  width: 52px;
  height: 18px;
  text-align: center;
  /* background: #030303; */
  position: relative;
  border-width: 2px;
  border-color: #030303;
}

.speechBubble::before {
  content: '';
	position: absolute;
	bottom: 0;
	left: 80%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom: 0;
	border-left: 0;
	margin-left: -5px;
	margin-bottom: -10px;
}

#active {
  background: #030303;
	border-top-color: #030303;
}

#active::before {
	border-top-color: #030303;
}

#inactive {
  background: #d6d4d2;
}

#inactive::before {
	border-top-color: #d6d4d2;
}
