.speech-bubble-graph {
  opacity: 0;
  transition: opacity .7s;
}

.speech-bubble-graph-maxOne {
  opacity: 1;
}

.speech-bubble-graph:hover {
  opacity: 1;
}

.speech-bubble-graph-txt {
  fill: white;
  font-weight: bold;
}