.speech-bubble-graph {
  opacity: 0;
  transition: opacity .7s;
}

.speech-bubble-graph-maxOne {
  opacity: 1;
}

.speech-bubble-graph-maxTwo {
  opacity: .2;
}

.speech-bubble-graph:hover {
  opacity: 1;
}

.speech-bubble-graph-maxTwo:hover {
  opacity: 1;
}

.speech-bubble-graph-txt {
  fill: white;
  font-weight: bold;
}

/* .summary {
  margin-top: 5vh;
  padding-left: 2vh;
  font-size: 11px;
}


.summary span {
  padding-left: 2vh;
  font-weight: bold;
} */





li#header {
  font-size: 18px;
}

.sub-list li {
  display: inline-block;
  padding-left: 2vh;
  padding-bottom: 3vh;
}

.summary-container {
  margin-bottom: 10vh;
  font-size: 11px;
}

.summary-container li {
  display: inline-block;
  margin-right: 5vh;
}

.summary-box {
  background: #f1f1f1;
  width: 150px;
  height: 80px;
  border-radius: 10px;
  padding: 1.5vh 0 0 2.5vh;
}

.summary-box.second {
  background: #f1f1f1;
}

.summary-box span {
  /* padding-left: .5vh; */
  font-weight: bold;
  font-size: 13px;
}

#important {
  font-size: 18px;
}
