.articleContainer {
  border-bottom: .5px solid #1f1f1f;
  padding-bottom: 1vh;
  padding-top: 3vh;
}

.headlineSource {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 2vh;
  font-size: small;
}

.headlineTime {
  color: #a1a8b8;
}

.headlineTitle {
  font-family: 'Newsreader', sans-serif;
  font-weight: 700;
  font-size: x-large;
  padding-bottom: 2vh;
}

.headlineContent {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
